/.vscode
/audio/audio_handlers/bin
/audio/audio_handlers/obj
/audio/audio_handlers/.idea
/audio/.idea
audio/ApiClient/bin/
audio/ApiClient/obj/
.idea/

# Citrus
/cncgame/Bundles/
/cncgame/.citrus/
/cncgame/Data/.untitled/
/cncgame/Data/.index
/cncgame/TangerineLog.txt
/cncgame/*.userprefs
/cncgame/Generated/Scenes/Bundles/